# Create a Mongo Database

In this activity, you'll start by importing the contents of a JSON file into a Mongo database collection by using the Mongo CLI.

1. Start Mongo by running `mongod` for Windows, or `brew services start mongodb/brew/mongodb-community` for Mac.
2. In the terminal, use `cd` to navigate to the resources folder that contains the file named customer_list.json.
3. Use the following command to import this file to a Mongo database:

```
mongoimport --type json -d petsitly_marketing -c customer_list --drop --jsonArray customer_list.json
```

This command tells Mongo that it needs to:

* import a json file (`--type json`)
* to a database called "petsitly_marketing" (`-d petsitly_marketing`) 
* in a collection called "customer_list" (`-c customer_list`)
* treat the input source as a json array (`--array`)
* removing the existing "customer_list" collection (`--drop`), if it exists, before adding the new documents from the json file.

Now that we have imported our data, let's use pymongo to explore it.

In [1]:
from pymongo import MongoClient

4. Create an instance of MongoClient, using the port number 27017.

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

5. List the names of the database in order to confirm that the petsitly_marketing database was created.

In [6]:
print(mongo.list_database_names())

['admin', 'config', 'local', 'my_db']

6. Assign the petsitly_marketing database to a variable name

In [7]:
# assign the petsitly_marketing database to a variable name
db = mongo ['petsitly_marketing']

7. List the names of the collections in the database. 

> Hint: Be sure to use the variable name you assigned to your database to do this.

In [2]:
# review the collections in our new database

NameError: name 'mongo' is not defined

8. Use the `find_one` function to look at a document within the `customer_list` collection of your database.

In [ ]:
# review a document in the customer_list collection
print(# YOUR CODE HERE)

9. Assign the `customer_list` collection to a variable of your choice.

In [ ]:
# assign the collection to a variable
customer_list = # YOUR CODE HERE

10. Use the `insert_one` function to insert the new customer into the database, then run the query in the following cell to look at this customer.

In [ ]:
# insert a new customer
new_customer = {'_id':3, 'Customer_First': 'Data', 'Customer_Last': 'Viz', 
                'Address': '55882 Valley Fields Dr', 'Email': 'dataviz@bootcamp.edu', 
                '2021_Visits': 75, '2021_Total_Spend': 2017.75, 'Pet_Type': 'cat'}
# YOUR CODE HERE

In [ ]:
# RUN THIS CELL
# Filter results by name
query = {'Customer_First': 'Data'}
results = customer_list.find(query)
for result in results:
    print(result)

11. Create a query that will find all of the customers who have turtles as pets. 

> Bonus: Try running queries to see what other types of animals customers have.

In [ ]:
# Find the number of customers with turtles
query = # YOUR CODE HERE
results = # YOUR CODE HERE
for result in results:
    print(result)

12. Use the `delete_many` function to delete the customers that have turtles. Then query the database to confirm that this worked.

In [ ]:
# Delete all the customers who have hamsters
# YOUR CODE HERE
results = # YOUR CODE HERE
for result in results:
    print(result)

13. Use `drop_collection` to delete the collection, then use `list_collection_names` to confirm that this worked.

In [ ]:
# Delete a collection
# YOUR CODE HERE
# YOUR CODE HERE

14. Use `drop_database` to delete your database. Then use `list_database_names to confirm that this worked`.

In [ ]:
# Delete the database
# YOUR CODE HERE
# YOUR CODE HERE